
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <form id="frmUpdBook" method="post" action="@Url.Action("EditRecord")">
            book title : <input name="txtTitle" />
            <br />
            Price : <input name="txtPrice" />
            <br/>
            <input type="submit" value="Submit" name="action" />
            <input type="submit" value="Cancel" name="action" />
        </form>
    </div>
</body>
</html>
