@model DAY_20.Models.Post
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPost</title>
</head>
<body>
    Post id:@Model.Id
    <br/>
    Post: @Model.PostText
    <br/>
    Category: @Model.Category

</body>
</html>
